/* CSS custom properties */
.goodButtonWrapper {
  --section-time: 0.4s;
  --orbit-width: 2px;
  --icon-color: rgba(89, 177, 137);
  --icon-color-inactive: rgba(170, 184, 195);
}
.animationChecked {
  color: var(--icon-color);
  animation-duration: var(--section-time);
  animation-name: bounce;
}
@keyframes bounce {
  0% {
    transform: scale(0.2);
  }
  10% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}
.circleOrbitBase {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: var(--orbit-width) solid rgba(89, 177, 137);
  border-radius: 50%;
}
.circle {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: var(--orbit-width) solid var(--icon-color-inactive);
  border-radius: 50%;
}
